*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.box {
    background-color: #28282B;
    padding: 30px; 
    width: 400px;
    border-radius: 8px;
}
.header h1{
    text-align: center;
    color: #FFD700;
    margin-bottom: 25px;
    text-transform: uppercase;

}
.header input{
    width: 100%;
    margin-block: 12px;
}
.header input, select{
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    border: 2px solid #FFD700;

}
.header label{
    color: aliceblue;
    margin-right: 20px;
    font-size: 21px;
}
.header div{
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer a{
    background-color: #FFD700;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 8px;
    padding: 14px 35px;
    margin-inline: 2px;

}
.qr-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;  
    overflow: hidden;
}
.qr-body img{
    max-width: 250px;
    max-height: 250px;
    margin-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;   
    border: 0.5px solid;
    border-color: #FFD700;

}